$bgcolor: #f0e9e0;
$form-block-bgcolor: #fff;
.beforeContent{
  background-color: $bgcolor;
}
.page-content{
  background-color: $bgcolor;
  padding-bottom: 15vh;
  min-height: 100vh;
  margin: 0px;
  hr{
    border-top: 1px solid #dedede;
  }
}

.form-section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $form-block-bgcolor;
  margin-bottom: 3em;
  .content{
    margin: 10px 5px;
    padding: 10px 15px;
  }
}
.messages-static-top{
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 2000;
  left: 0px;
  padding: 5px 0px 8px 0px;
  border-radius: 0px !important;
  .link{
    cursor: pointer;
    margin-left: 15px;
  }
}
