<input class="form-control" name="catalog_search" placeholder="Nom ou référence" type="text" />
<div class='tree'>
</div>
<div class="form-group">
    <div class="text-right">
        <button class="btn btn-success primary-action" type="button">
            Insérer
        </button>
        <button class="btn btn-default secondary-action" type="button">
            Annuler
        </button>
    </div>
</div>
