<input class="form-control" name="catalog_search" placeholder="Nom ou référence" type="text" />
<div class='tree'>
</div>
<div class="form-group">
    <div class="text-right">
        <button class="btn btn-success primary-action edit-catalog" type="button">
            Éditer comme un nouvel élément
        </button>
        <button class="btn btn-success secondary-action insert-catalog" type="button">
            Insérer les éléments sélectionnés
        </button>
        <button class="btn btn-default secondary-action cancel-catalog" type="button">
            Annuler
        </button>
    </div>
</div>
