<form class='form' name='common' action="#" onSubmit="return false;">
    <div class='row'>
        <div class='col-md-6 col-xs-12'>
            <div class='date'></div>
            <div class='description'></div>
        </div>
        <div class='col-md-6 col-xs-12'>
            <div class='address'></div>
        </div>
    </div>
    <button
        class='btn btn-default'
        data-target='#common-more'
        data-toggle='collapse'
        aria-expanded="false"
        aria-controls="common-more"
        >
        Plus d'options
    </button>
    <div class='collapse row' id="common-more">
        <div class='col-md-6 col-xs-12'>
            <div class='workplace'></div>
        </div>
        <div class='col-md-6 col-xs-12'>
            <div class='mentions'>
            </div>
        </div>
    </div>
</form>
