<form class='form'>
    <div class='order'></div>
    <div class='description'></div>
    <div class='amount'></div>
    <div class='tva'></div>
    <button class='btn btn-success primary-action' type='submit' value='submit'>
        {{ title }}
    </button>
    <button class='btn btn-default secondary-action' type='reset' value='submit'>
        Annuler
    </button>
</form>
