<div class='col-md-3 col-sm-4 col-xs-12 description'>{{{ description }}}</div>
<div class='col-md-3 col-sm-2 col-xs-12 amount'><b class='visible-xs text-left'>HT : {{{ht}}}</b><span class='hidden-xs'>{{{ ht }}}</span></div>
<div class='col-md-6 col-sm-6 col-xs-12 text-right actions'>
    <button type='button' class='btn btn-default edit'>
        <i class='glyphicon glyphicon-pencil'></i> <span class='hidden-xs'>Modifier</span>
    </button>
    <button type='button' class='btn btn-default delete'>
        <i class='glyphicon glyphicon-trash'></i> <span class='hidden-xs'>Supprimer</span>
    </button>
</div>
