<h2>Frais forfaitaires</h2>
<div class='content'>
    <div class='row'>
        <form class='form-inline'>
            <div class='col-xs-11 expenses_ht text-right'></div>
        </form>
    </div>
</div>

