<div style="border: 1px solid #dedede">
<button class='btn btn-{{status}}'>
<i class="fa icon-{{ status }}"></i>
</button>
{{{ label }}}

{{#if has_view}}
<button class='btn btn-default btn-circle btn-view' title="Voir / Modifier le fichier">
    <i class='fa fa-pencil'></i>
</button>
{{/if}}
{{#if has_add}}
<button class='btn btn-default btn-circle btn-add' title="Déposer un fichier" >
    <i class='fa fa-plus'></i>
</button>
{{/if}}
{{#if has_valid_link}}
<button class='btn btn-default btn-circle btn-validate' title="Valider le fichier fourni ?">
    <i class='fa fa-check'></i>
</button>
{{/if}}
</div>
