<h2>Informations générales <small>Ces informations n'apparaissent pas dans le PDF</small></h2>
<div class='content'>
    <form class='form' name='common' action="#" onSubmit="return false;">
        <div class='row'>
            <div class='col-md-6 col-xs-12'>
                <div class='name'></div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6 col-xs-12'>
                <div class='prefix'></div>
            </div>
            <div class='col-md-6 col-xs-12'>
                <div class='financial_year'></div>
            </div>
        </div>
    </form>
</div>
