<h2>Informations générales <small>Ces informations n'apparaissent pas dans le PDF</small></h2>
<div class='content'>
    <form class='form' name='common' action="#" onSubmit="return false;">
        <div class='row'>
            <div class='col-md-12 col-xs-12'>
                <div class='name'></div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6 col-xs-12'>
                <div class='financial_year'></div>
            </div>
        </div>
    </form>
    <div class='status_history'>
    </div>
    {{#if attachments}}
        <a
                data-target='#files-more'
                data-toggle='collapse'
                aria-expanded="false"
                aria-controls="files-more"
                >
                <i class='glyphicon glyphicon-plus-sign'></i>
            Fichiers attachés
        </a>
        <div id="files-more" class='collapse row'>
        <div class='col-xs-12'>
        <ul>
        {{#each attachments}}
            <li>
                <a href='/files/{{this.id}}' target='_blank'>
                <i class='fa fa-file'></i> {{this.label}}
                </a>
            </li>
        {{/each}}
        </ul>
        </div>
        </div>
    {{/if}}
</div>
