<div id='modalregion'>
</div>
<div class='container-fluid page-content'>
    <div class='task-edit col-md-9 col-xs-12'>
        <div class='errors'>
        </div>
        <div class='status_history'>
        </div>
        <div id='general'>
        </div>
        <div id='common'>
        </div>
        <div id='tasklines'>
        </div>
        <div class='ht_before_discounts'>
        </div>
        <div id='discounts'>
        </div>
        <div class='totals'>
        </div>
        <div class='notes'>
        </div>
        <div class='payment-conditions'>
        </div>
        <div class='payments'>
        </div>
    </div>

    <div class='task-desktop-actions col-md-3 hidden-sm hidden-xs'
         id='rightbar'>
    </div>
</div>
<footer class='footer-actions'></footer>
