<div>
	<div class='row'>
		<div class='task-edit col-md-9 col-xs-12'>
            <div id='common'>
            </div>
            <div id='prestations'>
            </div>
		</div>

		<div class='task-desktop-actions col-md-3 hidden-sm hidden-xs'
             id='rightbar'>
		</div>
	</div>

	<div class='task-desktop-actions sticky-footer hidden-md hidden-lg' id='footer'>
	</div>
</div>
