<h3>
    <a
        data-target='#notes-more'
        data-toggle='collapse'
        aria-expanded="false"
        aria-controls="notes-more"
        >
        <i class='glyphicon glyphicon-plus-sign'></i>
            {{#if is_more_set}}<i>
        Notes complémentaires
        </i>
        {{else}}
        Notes complémentaires
        {{/if}}
    </a>
</h3>
<div class='content'>
    <div
        class='collapse row {{#if is_more_set}}in{{/if}}'
        id="notes-more">
        <hr />
        <div class='notes'></div>
    </div>
</div>
