<h2>Paiements</h2>
<div class='content'>
    <div class='payment_display-container'></div>
    <div class='payment-deposit-container'></div>
    <div class='payment_times-container'></div>
    <div class='payment-lines-container'></div>
</div>
