<a
    data-target='#comments-more'
    data-toggle='collapse'
    aria-expanded="false"
    aria-controls="comments-more"
    >
    <i class='glyphicon glyphicon-plus-sign'></i>
Historique des commentaires et changements de statut
</a>
<div id='comments-more' class='collapse row comments'>
</div>
