<h4>
    <a
        data-target='#comments-more'
        data-toggle='collapse'
        aria-expanded="false"
        aria-controls="comments-more"
        >
        <i class='glyphicon glyphicon-plus-sign'></i>
    </a>
Historique des commentaires et changement de statuts
</h4>
<div id='comments-more' class='collapse row comments'>
</div>
