<div class='col-xs-12'>
    <div class='row'>
        <div class='col-xs-8'>
            <h4>
            {{#if title }}
            {{title}}
            {{else}}
            <small>Aucun titre n'a été saisi</small>
            {{/if}}
            <button
                type='button'
                class='btn-nostyle edit btn-small'
                title="Modifier cet ouvrage">
                <i class='glyphicon glyphicon-pencil'></i>
            </button>
            </h4>
            <p>
            {{#if description}}
            {{{description}}}
            {{else}}
            <i>Aucune description n'a été saisie</i>
            {{/if}}
            </p>
        </div>
        <div class='col-xs-4'>
        <div class='btn-group pull-right'>
            <button
                type='button'
                class='btn btn-danger delete btn-small'
                title='Supprimer cet ouvrage'
                >
                <i class='glyphicon glyphicon-trash'></i>
            </button>
            {{#if is_not_first }}
            <button type='button' class='btn btn-default btn-small up'>
                <i class='glyphicon glyphicon-arrow-up'></i>
            </button>
            <br />
            {{/if}}
            {{#if is_not_last }}
            <button type='button' class='btn btn-default btn-small down'>
                <i class='glyphicon glyphicon-arrow-down'></i>
            </button>
            {{/if}}
            </div>
        </div>
    </div>

    <div class='row hidden-sm linesblockheader'>
        <div class='col-md-3'>Intitulé des postes</div>
        <div class='col-md-1 text-center'>Prix unitaire HT</div>
        <div class='col-md-1 text-center'>Quantité</div>
        <div class='col-md-1 text-center'>Unité</div>
        <div class='col-md-1 text-center'>Tva</div>
        <div class='col-md-1 text-center'>HT</div>
        <div class='col-md-3 text-center'>Actions</div>
    </div>
    <div class='row tasklines'>
    </div>
    <div class='row actions'>
        <div class='col-xs-11 text-right'>
            <button type='button' class='btn btn-info btn-add'>
                <i class='glyphicon glyphicon-plus-sign'></i> Ajouter une prestation
            </button>
        </div>
    </div>
    <div class='row subtotal'>
        <div class='col-xs-12 text-right'>
            Sous total HT      {{{ total_ht }}}
        </div>
    </div>
    <div class='modalregion'></div>
</div>
