<h2>Description des prestations</h2>
<div class='content'>
    <div class='group-container'></div>
    <div class='group-modalregion'></div>
    <div class='actions text-right'>
        <button class='btn btn-default add' type='button'>
            <i class='glyphicon glyphicon-plus-sign'></i> Ajouter un ouvrage
        </button>
    </div>
</div>
