Beaker==1.6.4
Chameleon
ColanderAlchemy
Cython==0.18
Mako==1.0.0
MySQL-python==1.2.5
PasteDeploy==1.5.2
PIL==1.1.7
SQLAlchemy==0.9.9
WebHelpers==1.3
WebOb==1.4
alembic==0.6.5
bleach==1.4.1
colander==1.0
deform==2.0a2
docopt==0.5.0
fanstatic==1.0a5
ipython==2.1.0
js.bootstrap==3.3.1
js.chosen==0.9.14
js.deform==2.0a2.post3
js.jquery==1.9.1
js.jquery-form==3.09
js.jquery-maskedinput==1.3.1
js.jquery-maskmoney==1.4.1
js.jquery_sortable==0.9.12
js.jquery-qunit==0.5
js.jquery-timepicker-addon==1.3-1
js.jqueryui==1.10.3
js.select2==3.4.1
js.tinymce==4.1.5
openpyxl==2.0.4
paramiko==1.7.7.1
peppercorn==0.4
py3o.template==0.6
pyramid==1.5.4
pyramid-beaker==0.7
pyramid-chameleon==0.3
pyramid-deform==0.2
pyramid-layout==1.0
pyramid-mailer==0.10
pyramid-mako==1.0.2
pyramid-tm==0.5
pytest==2.6.4
reportlab==3.1.44
repoze.lru==0.6
repoze.sendmail==3.2
simplejson==3.3.1
transaction==1.4.3
translationstring==1.2
venusian==1.0
waitress==0.8.2
wsgiref==0.1.2
xhtml2pdf==0.0.6
zope.component==4.0.1
zope.deprecation==4.1.2
zope.event==4.0.1
zope.interface==4.1.2
zope.sqlalchemy==0.7.1
celery==3.1.17
pyramid-celery==2.0.0
redis==2.10.3
sqla_inspect==0.1.7
Unidecode==0.04.17
deform_extensions==0.2
