[app:autonomie]
use = egg:autonomie

pyramid.default_locale_name = fr
pyramid.includes =  pyramid_tm
                    pyramid_mailer
                    pyramid_services
                    pyramid_layout
                    pyramid_mako
                    pyramid_chameleon
                    pyramid_celery
                    js.deform
                    deform_extensions
#### CONFIGURE THOSE LINES TO ALLOW THE TESTS TO SETUP A MYSQL DATABASE ####
sqlalchemy.url = mysql://testautonomie:password@localhost/testautonomie?charset=utf8
 sqlalchemy.url = postgresql://testautonomie:password@localhost/testautonomie

sqlalchemy.echo=False

testdb.connect=echo 'quit' | mysql -uroot
testdb.adduser=echo "CREATE USER testautonomie" | mysql -uroot
testdb.adddb=echo "CREATE DATABASE IF NOT EXISTS testautonomie; GRANT ALL PRIVILEGES on testautonomie.* to testautonomie@localhost IDENTIFIED BY 'password';FLUSH PRIVILEGES;" | mysql -uroot
testdb.drop=echo "DROP DATABASE IF EXISTS testautonomie"|mysql -uroot

# testdb.connect=sudo -u postgres psql -c '\q'
# testdb.adduser=sudo -u postgres psql -c "CREATE USER testautonomie WITH PASSWORD 'password'"
# testdb.adddb=sudo -u postgres psql -c "CREATE DATABASE IF NOT EXISTS testautonomie owner testautonomie;
# testdb.drop=sudo -u postgres psql -c "DROP DATABASE 'testautonomie'

session.longtimeout=3600
cache.regions = default_term, second, short_term, long_term
cache.type = memory
cache.second.expire = 1
cache.short_term.expire = 1
cache.default_term.expire = 1
cache.long_term.expire = 1
mako.directories = autonomie:templates
mako.imports = from markupsafe import escape_silent
mako.default_filters = escape_silent
autonomie.ftpdir=%(here)s/autonomie/tests/datas/

[pipeline:main]
pipeline =
    autonomie
