[app:autonomie]
use = egg:autonomie

pyramid.default_locale_name = fr
pyramid.includes =pyramid_tm
#### CONFIGURE THOSE LINES TO ALLOW THE TESTS TO SETUP A MYSQL DATABASE ####
sqlalchemy.url = mysql://testautonomie:password@localhost/testautonomie?charset=utf8
sqlalchemy.echo=False
sqlalchemy.encoding=UTF8
testdb.user=testautonomie
testdb.password=password
testdb.db=testautonomie
testdb.mysql_cmd=mysql --defaults-file=/etc/mysql/debian.cnf
testdb.sampledb=sample_db/dbautonomie.sql
testdb.sampledatas=sample_db/testdatas.sql
testdb.updatedir=sample_db/updates
session.longtimeout=3600

[pipeline:main]
pipeline =
    autonomie
