<h4>Entrées statistiques
<a class='btn btn-primary' style='font-size: 10px' href='#entries/add'>Ajouter <i class='glyphicon glyphicon-plus'></i></a>
</h4>
<div class="panel panel-default">
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <th class='col-xs-9'>Intitulé</th>
            <th class='col-xs-3 actions'>Actions</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
