<td>
{{ title }}
</td>
<td class='action'>
    <div class="btn-group">
        <a class='btn btn-success btn-default btn-sm' href='#entries/{{id}}/edit' title="Modifier cette entrée">
            <i class='glyphicon glyphicon-pencil'></i>
            <span class='visible-lg-inline-block hidden-sm'>
                Modifier
            </span>
        </a>
        <a class='btn btn-default btn-sm' href='{{ csv_url }}' title='Exporter les éléments correspondant à cette entrée statistiques'>
            <i class='glyphicon glyphicon-export'></i>
            <span class='visible-lg-inline-block hidden-sm'>
                Exporter
            </span>
        </a>
        <a class='btn btn-default btn-danger btn-sm remove' title='Supprimer cette entrée'>
            <i class='glyphicon glyphicon-trash'></i>
            <span class='visible-lg-inline-block hidden-sm'>
                Supprimer
            </span>
        </a>
    </div>
</td>
