<div class='form panel'>
    <div class='panel-body' style='padding-top: 10px'>
        <div id='entry_list_header'>
            <button type='button' class='back-btn btn btn-default'><i class="glyphicon glyphicon-step-backward"></i>Revenir à la liste</button>
            <hr />
            <div class='row'>
                <div class='col-xs-9'>
                    <h4>
                        Entrée statistique <span><i>{{ title }}</i>&nbsp;</span>
                    </h4>
                    <span class='help-block'>{{description}}</span>
                </div>
                <div class='col-xs-3'>
                    <div class='btn-group'>
                        <button class='btn btn-default edit' title="Éditer le titre de l'entrée statistique">
                        <i class="glyphicon glyphicon-pencil" style="vertical-align:middle"> </i> Modifier
                        </button>
                        <a class='btn btn-default' href='{{ csv_url }}' title='Exporter les éléments correspondant à cette entrée statistiques'>
                            <i class='glyphicon glyphicon-export'></i>
                            Exporter
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            <form id='entry_edit_form' style='display:none' class='well'>
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                <fieldset><legend>Édition</legend>
                <div class='row'>
                <div class="form-group col-xs-6">
                    <label class='control-label' for="title">Intitulé de l'entrée statistique <b class='required'>*</b></label>
                    <input type="text" name='title' class="form-control" id="title" placeholder="Titre" value='{{title}}'>
                    <span class='help-block'>
                        Sera utilisé dans le fichier de sortie
                    </span>
                </div>
                <div class="form-group col-xs-6">
                    <label class='control-label' for="title">Description de l'entrée statistique</label>
                    <textarea name='description' class="form-control" id="title" placeholder="Description">{{description}}</textarea>
                </div>
                </div>
                </fieldset>
                <button type="submit" class="btn btn-success" name='submit'>Valider</button>
                <button type="reset" class="btn btn-danger" name="cancel">Annuler</button>
            </form>

        </div>
        <div id='criterion-form'></div>
        <div id='criteria'></div>
    </div>
</div>
