<td>{{altdate}}</td>
<td>{{typelabel}}</td>
<td>{{description}}</td>
<td>{{start}}</td>
<td>{{end}}</td>
<td>{{km}}</td>
<td>{{{total}}}</td>
{{#edit}}
<td class="hidden-print"><a class='btn btn-default' href='{{edit_url}}' ><i class='icon icon-pencil'></i>&nbsp;Éditer</a>
<a class='btn remove'><i class='icon icon-remove-sign'></i>&nbsp;Supprimer</td>
{{/edit}}
