<a class='{{ option.css }} btn-block' href='{{ option.url }}' title="{{ option.title }}" {{#if option.onclick}}onclick="{{ option.onclick }}"{{/if}}>
    <i class='{{ option.icon }}'></i> {{ option.label}}
</a>
