<a
    class='{{ option.css }} btn-block'
    href='{{#if option.popup}}#{{else}}{{ option.url }}{{/if}}'
    title="{{ option.title }}"
    {{#if option.onclick}}onclick="{{ option.onclick }}"{{/if}}
    {{#if option.attrs}} {{ option.attrs }}{{/if}}>
    <i class='{{ option.icon }}'></i> {{ option.label}}
</a>
