{{#if editable }}
    {{#if title}}
    <label for='{{field_name}}'>{{ title }}</label>
    {{/if}}
    <textarea name='{{field_name}}' {{#if tagId }}id="{{tagId}}"{{/if}} class='form-control' rows='{{ rows }}' {{#if placeholder}}placeholde="{{placeholder}}"{{/if}}>{{ value }}</textarea>
{{else}}
    {{ value }}
{{/if}}
