<h4 class='text-center'>{{ options.label }}</h4>
<hr />
<div class='btn-group' data-toggle="buttons">
{{#each buttons }}
    <label class="{{ this.css }} {{#if this.selected}}active{{/if}}">
        <input
            type="radio"
            name="{{ ../field_name }}"
            value="{{ this.value }}"
            {{#if this.selected}}
            checked
            {{/if}}
            autocomplete="off"
            >
            <i class='{{ this.icon }}'></i> {{this.label}}

    </label>
{{/each}}
</div>
