<h1>Importation de données</h1>
<ul>
<li>Identifiant de la tâche : {{ jobid }} </li>
<li>Initialisée le : {{ created_at }} </li>
<li>Mise à jour le : {{ updated_at }} </li>
</ul>
{{#if running}}
<div class="orange_text">
<i class="fa fa-cog fa-spin fa-4x"></i><h3>L'import est en cours</h3>
</div>
{{else}}

{{#if failed}}
<div class="red_text"><i class="fa fa-warning fa-4x"></i> <h3>L'import a échoué</h3></div>
{{else}}

<div class="green_text"><i class="fa fa-check fa-4x"></i><h3>L'import s'est déroulé avec succès</h3></div>

<h3>RAPPORT</h3>
{{/if}}
{{/if}}
