<form id='expenseForm' class='form form-horizontal' action='#' onsubmit='return false;'>

{{#unless id }}
<button class='btn btn-block btn-primary' onclick="$('#bookmarks').toggle();" type='button'>Mes Favoris     >>></button>
<div id='bookmarks' class='well' style='display:none'>
<table class="table table-condensed table-stripped table-bordered">
{{#bookmark_options}}
<tr>
<td>
{{#attributes}}{{description}} - HT:{{ht}} € - TVA:{{tva}} € ({{type.label}}) {{/attributes}}
</td>
<td>
<a class="btn btn-mini edit" data-cid='{{cid}}'>
    <i class="icon-ok"></i>
</a>
<a class="btn btn-mini delete"  data-cid='{{cid}}'>
    <i class="icon-remove-sign"></i>
</a>
</td>
</tr>
{{/bookmark_options}}
</table>
</div>
<hr />
<br />
{{/unless}}

<div class="control-group">
<label class="control-label" for='category'>Catégorie de frais</label>
<div class='controls'>
{{#category_options }}
<label class="radio">
<input type='radio' name='category' value='{{value}}' {{#selected}}checked{{/selected}}> {{label}}
</label>
{{/category_options }}
</div>
</div>


<div class="control-group">
<label class="control-label" for='type_id'>Type de frais</label>
<div class='controls'>
<select class='input-xxlarge' name='type_id'>
{{#type_options }}
<option value='{{value}}' {{#selected}}selected='true'{{/selected}}>{{label}}</option>
{{/type_options }}
</select>
</div>
</div>

<div class="control-group">
<label class="control-label" for='altdate'>Date</label>
<div class='controls'>
<input name="altdate" class="input-small" type="text" autocomplete="off">
<input name="date" class="input-small" type="hidden">
</div>
</div>

<div class="control-group">
<label class="control-label" for='description'>Description</label>
<div class='controls'>
<input type='text' class='input-xxlarge' name='description' value='{{description}}'/>
</div>
</div>

<div class="control-group">
<label class="control-label" for='ht'>Montant HT</label>
<div class='controls'>
<div class="input-append">
    <input type='text' class='input-small' name='ht' value='{{ ht }}' /><span class="add-on">&euro;</span>
</div>
</div>
</div>

<div class="control-group">
<label class="control-label" for='tva'>Montant de la Tva</label>
<div class='controls'>
<div class="input-append">
<input type='text' class='input-small' name='tva' value='{{ tva }}' /><span class="add-on">&euro;</span>
</div>
</div>
</div>

<div class="form-actions">
<button type="submit" class="btn btn-primary" name='submit'>Valider</button>
<button type="reset" class="btn" name="cancel">Annuler</button>
</div>
</form>
