<div>

    <table class="opa table table-striped table-bordered table-condensed">
        <caption>
        Frais kilométriques liés au fonctionnement de l'entreprise
            {{#edit}}
            <div class="inline-element">
<a href="#kmlines/add/1" class='btn visible-desktop hidden-tablet' title="Ajouter une ligne"><i class='icon icon-plus-sign'></i>&nbsp;Ajouter</a>
            </div>
            {{/edit}}
        </caption>
        <thead>
            <th>Date</th>
            <th>Type</th>
            <th>Prestation</th>
            <th>Point de départ</th>
            <th>Point d'arrivée</th>
            <th>Kms</th>
            <th>Indemnités</th>
            {{#edit}}
            <th class="hidden-print">Actions</th>
            {{/edit}}
        </thead>
        <tbody class='internal'>
        </tbody>
        <tfoot>
            <tr>
                <td colspan='6'>Total</td>
                <td id='km_internal_total'></td>
                {{#edit}}
                <td class="hidden-print"></td>
                {{/edit}}
            </tr>
        </tfoot>
    </table>
    <br/>
    <table class="opa table table-striped table-bordered table-condensed">
        <caption>
            Frais kilométriques concernant directement votre activité auprès de vos clients
            {{#edit}}
            <div class="inline-element">
<a href="#kmlines/add/2" class='btn visible-desktop hidden-tablet' title="Ajouter une ligne"><i class='icon icon-plus-sign'></i>&nbsp;Ajouter</a>
            </div>
            {{/edit}}
        </caption>
        <thead>
            <th>Date</th>
            <th>Type</th>
            <th>Prestation</th>
            <th>Point de départ</th>
            <th>Point d'arrivée</th>
            <th>Kms</th>
            <th>Indemnités</th>
            {{#edit}}
            <th class="hidden-print">Actions</th>
            {{/edit}}
        </thead>
        <tbody class='activity'>
        </tbody>
        <tfoot>
            <tr>
                <td colspan='6'>Total</td>
                <td id='km_activity_total'></td>
                {{#edit}}
                <td class="hidden-print"></td>
                {{/edit}}
            </tr>
        </tfoot>
    </table>
</div>
