.btn{
  font-size: 0.95rem;
  border-radius: 0px;
  // Button placed at the top of a page
  &.btn-head{
    margin-bottom: 15px !important;
  }
  // Main action btn
  &.primary-action{
    padding: 6px 18px;
    font-size: 1.1rem;
    margin-bottom: 2px;
  }
  // Main action btn + primary
  &.btn-primary.primary-action{
    -webkit-box-shadow: 0px 1px 0px #2b638f;
    -moz-box-shadow: 0px 1px 0px #2b638f;
    box-shadow: 0px 1px 0px #2b638f;
  }
  // A secondary action button
  &.secondary-action{
    padding: 4px 8px;
  }
  // A third place action button
  &.tertiary-action{
    padding: 2px 4px;
  }
	&.btn-circle {
		width: 30px;
		height: 30px;
		text-align: center;
		padding: 5px 0;
		font-size: 14px;
		line-height: 1.428571429;
		border-radius: 15px;
	}
	&.btn-circle.btn-lg {
		width: 50px;
		height: 50px;
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.33;
		border-radius: 25px;
	}
	&.btn-circle.btn-xl {
		width: 70px;
		height: 70px;
		padding: 10px 16px;
		font-size: 24px;
		line-height: 1.33;
		border-radius: 35px;
	}
}
// A button with no style
.btn-nostyle{
  border: none;
  border-radius: 2px;
  background-color: transparent;
  color: inherit;
  &:hover{
    background-color: rgba(255,255,255, 0.1);
  }
}
