$add-color-primary: #43cf52;
$add-color-secondary: #989999;
$add-color-tertiary: #e3e3e3;

$header-bkg-color: #2f4050;
$header-bkg-color-dark: #2c3a49;
$header-bkg-color-light: #8c9aa9;
$footer-bkg-color: #2f4050;
$bkg-color: #f5f5f6;
$bkg-color-dark: #d5d5d6;
$breadcrumb-bkg-color: #e6e9ed;

$panel-heading-color: #fff;

$font-grey1: #566676;
$font-grey2: #344454;
$font-blue1: #2196f3;

