<h4>Catégories de produits
<a class='btn btn-primary' style='font-size: 10px' href='#categories/add'>Ajouter <i class='glyphicon glyphicon-plus'></i></a>
</h4>
<ul class='nav nav-pills nav-stacked'>
</ul>
