<div class='form well'>
    <button type="button" class="close large-close"><span aria-hidden="true">&times;</span></button>
    <h4>Produits composant cet ouvrage
    <a class='btn btn-primary add' style='font-size: 10px'>Ajouter <i class='glyphicon glyphicon-plus'></i></a>
    </h4>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <th class='col-xs-6'>Produit</th>
            <th class='col-xs-2'>Quantité Unitaire</th>
            <th class='col-xs-4 actions'>Actions</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
