<h4>Liste des produits
<a class='btn btn-primary add' style='font-size: 10px'>Ajouter <i class='glyphicon glyphicon-plus'></i></a>
</h4>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <th class='col-xs-5'>Intitulé (Réf)</th>
        <th class='col-xs-3'>Prix Unitaire x Unité</th>
        <th class='col-xs-1'>Tva</th>
        <th class='col-xs-3 actions'>Actions</th>
    </thead>
    <tbody>
    </tbody>
</table>

