<td>{{ label }} {{#if ref}}( {{ ref }} ){{/if}}</td>
<td>{{ title }}</td>
<td class='action'>
    <div class="btn-group">
        <a class='btn btn-success btn-default btn-sm edit' title="Modifier cet ouvrage">
            <i class='glyphicon glyphicon-pencil'></i>
            <span class='visible-lg-inline-block hidden-sm'>
                Modifier
            </span>
        </a>
        <a class='btn btn-danger btn-default btn-sm remove' title='Supprimer cet ouvrage'>
            <i class='glyphicon glyphicon-trash'></i>
            <span class='visible-lg-inline-block hidden-sm'>
                Supprimer
            </span>
        </a>
    </div>
</td>
