<div class='panel panel-default page-block'>
    <div class='panel-heading'>
        Vos congés
    </div>
    <div class='panel-body'>
        <a class='btn btn-primary primary-action' title="Déclarer un congés">
            <i class='glyphicon glyphicon-plus-sign'></i>&nbsp;Ajouter
            </a>
        <table class="opa table table-bordered table-condensed">
            <thead>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Actions</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
