<div
{{#error}}
class="alert alert-danger">
<i class="glyphicon glyphicon-warning-sign"></i>
{{/error}}
{{^error}}
class="alert alert-success">
<i class="glyphicon glyphicon-ok"></i>
{{/error}}
<button class="close" data-dismiss="alert" type="button">×</button>
{{msg}}
</div>
