<td>
{{ title }} ({{ method_label }}  : {{ label }})
</td>
<td class='action'>
    <div class="btn-group">
        <a class='btn btn-success btn-default btn-sm' href='#{{ edit_url }}' title="Modifier cette entrée">
            <i class='glyphicon glyphicon-pencil'></i>
            Modifier
        </a>
        <a class='btn btn-danger btn-default btn-sm remove' title='Supprimer cette entrée'>
            <i class='glyphicon glyphicon-trash'></i>
            Supprimer
        </a>
    </div>
</td>
