<h4>Critères composant notre entrée statistique
<a class='btn btn-primary add' style='font-size: 10px'>Ajouter <i class='glyphicon glyphicon-plus'></i></a>
<a class='btn btn-primary add-or' style='font-size: 10px'>Ajouter une clause 'OU' <i class='glyphicon glyphicon-plus'></i></a>
</h4>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <th class='col-xs-9'>Intitulé</th>
        <th class='col-xs-3 actions'>Actions</th>
    </thead>
    <tbody>
    </tbody>
</table>
