<td>
{{ title }} ({{ method_label }}  : {{ label }})
</td>
<td class='action'>
    <a class='btn btn-default btn-sm' href='#{{ edit_url }}' title="Modifier cette entrée">
        Modifier
    </a>
    <a class='btn btn-default btn-sm remove' title='Supprimer cette entrée'>
        Supprimer
    </a>
</td>
