<div class='form'>
    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
    <h4>{{ title }}</h4>
    <span class='help-block'>{{description}}</span>
    <div id='criteria'></div>
    <div id='criterion_form'></div>
</div>
