<form class="form-inline">
  <div class="form-group">
    <label for="title">Intitulé de la feuille de statistique</label>
    <input type="text" class="form-control" id="title" placeholder="Titre">
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
