$form-block-borders: #aaa;
$form-subblock-bgcolor: #fbfbfb;
.form-section {
  h2, h3, h4{
    border-bottom: 1px solid $form-block-borders;
    margin: 3px 0px;
    padding: 15px 0px 8px 10px;
    color: #666;
  }
  .lines-header{
    background-color: $form-subblock-bgcolor;
    margin: 0px 20px 0px 0px;
    font-weight: bold;
    border-bottom: 1px solid #000;
  }
  .lines{
    background-color: $form-subblock-bgcolor;
    margin: 0px 20px 0px 0px;
    .error{
      background-color: #f2dede;
    }
  }
  .actions{
    padding: 15px 0px;
  }
}
.taskline-group {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 20, 0.2), 0 6px 20px 0 rgba(0, 0, 20, 0.19);
  margin-bottom: 15px;
  padding: 10px 0px;
  .subtotal{
    padding: 15px 0px;
    font-weight: bold;
  }
  .taskline{
    border-bottom:1px solid #dddddd;
    padding: 5px 0px;
    .description{
      font-size: 0.9em;
    }
  }
}
.form-section.error{
  border-top: 3px solid #f82211;
}
.taskline-group.error{
  border-top: 3px solid #f82211;
  background-color: #f2dede;
}

.discountlines-group{
}

.sticky-footer{
  background-color: #555;
  color: #f5f5f5;
  position: fixed;
  height: 15vh;
  min-height: 80px;
  width: 100vw;
  bottom: 0px;
  border-top: 1px solid #555;
  padding: 0px;
  .btn{
    height: 100%;
    border-radius: 0;
    margin: 0px;
    &.btn-primary, &.btn-default, &.btn-success{
      background-color: none !important;
      &:hover{
        background-color: none !important;
      }
    }
  }
  &:hover{
    color: #fff;
  }
}
.paymentamount{
  text-align:right;
}
.panel-heading{
  font-weight: bold;
}
/* Only checkboxes on leaf nodes */
.jstree-open > .jstree-anchor > .jstree-checkbox,
.jstree-closed > .jstree-anchor > .jstree-checkbox { display:none; }
.required .form-group label:after{
  content: ' *';
  color: #c9302c;
}
a[data-toggle=collapse]:hover{
  cursor: pointer;
}
.task-desktop-actions{
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0px;
    button, a{
      margin-bottom: 0.7em;
    }
    .totals{
      margin-top: 10px;
      hr{
        margin: 8px 0px;
      }
    }
}
blockquote.status_history_item{
  border-left: 5px solid #aaa;
  font-size: 15px;
  margin: 5px 8px;
  p{
    margin: 0, 0, 5px;
  }
}
