<label for={{field_name}}>{{title}}</label>
<div class='input-group'><input class='form-control' type='{{type}}' value='{{value}}' name="{{field_name}}"></input>{{#if addon}}<div class="input-group-addon">{{{addon}}}</div>{{/if}}</div>
{{#if description}}
<span class='help-block'><small>{{description}}</small></span>
{{/if}}
