<label for='{{field_name}}'>{{title}}</label>
<select class='form-control' {{#if multiple}}multiple{{/if}} name='{{field_name}}'>
{{#each options}}
    <option value='{{this.value}}' {{#if selected}}selected{{/if}}>{{this.label}}</option>
{{/each}}
</select>
