{{#if editable }}
<div class='form-group'>
    <label for='{{field_name}}'>{{ title }}</label>
    <textarea name='{{field_name}}' class='form-control' rows='{{ rows }}'>{{ value }}</textarea>
</div>
{{else}}
<div>
    {{ value }}
</div>
{{/if}}
