<td>{{ alt_start_date }}</td>
<td>{{ alt_end_date }}</td>
<td><a class='btn btn-default edit'><i class='glyphicon glyphicon-pencil'></i>&nbsp;Éditer</a><a class='btn btn-default remove'><i class='glyphicon glyphicon-remove-sign'></i>&nbsp;Supprimer</a></td>
