<div class='col-xs-6'>
{{ description }} <br /> HT {{{ ht }}} - TVA {{{ tva }}} <br />{{typelabel}}
</div>
<div class='col-xs-6'>
<div class="btn-group" role="group" aria-label="actions">
<button class='btn btn-success insert'><i class="glyphicon glyphicon-ok"></i>&nbsp;Sélectionner</button>
<button class='btn btn-danger delete'><i class="glyphicon glyphicon-remove-sign"></i>&nbsp;Supprimer</button>
</div>
</div>
