<form class='form expense-form'>
    <div class='category'></div>
    <div class='date required'></div>
    <div class='type_id required'></div>
    <div class='description required'></div>
    <div class='ht'></div>
    <div class='tva'></div>
    <button
        class='btn btn-success'
        type='submit'
        value='submit'>
        {{ title }}
    </button>

    <button
        class='btn btn-default secondary-action'
        type='reset'
        value='submit'>
        Annuler
    </button>
</form>
