<div class="row">
    <div class="col-xs-12">
        <h2 style="margin-top:0px">
            {{ category.label }}
        </h2>
        <span class="help-block">
            {{ category.description }}
        </span>
        {{#edit}}
        <button class='btn btn-primary primary-action add'>
            <i class='glyphicon glyphicon-plus-sign'></i>&nbsp;Ajouter une dépense
        </button>
        <br />
        <br />
        {{/edit}}
    </div>
</div>
<table class="opa table table-bordered table-condensed">
    <thead>
        <th>Date</th>
        <th>Type de dépense</th>
        <th>Description</th>
        <th>Montant HT</th>
        <th>Tva</th>
        <th>Total TTC</th>
        {{#edit}}
        <th class="hidden-print">Actions</th>
            {{/edit}}
    </thead>
    <tbody class='lines'>
    </tbody>
    <tfoot>
        <tr>
            <td colspan='3'>Total</td>
            <td class='total_ht'></td>
            <td class='total_tva'></td>
            <td class='total_ttc'></td>
        {{#edit}}
            <td class="hidden-print"></td>
            {{/edit}}
        </tr>
    </tfoot>
</table>
