<div class="row">
    <div class="col-xs-12">
        <h3 style="margin-top:0px">
            Dépenses kilométriques
        </h3>
        {{#edit}}
        <button class='btn btn-primary primary-action add'>
            <i class='glyphicon glyphicon-plus-sign'></i>&nbsp;Ajouter une dépense
        </button>
        <br />
        <br />
        {{/edit}}
    </div>
</div>

<table class="opa table table-striped table-bordered table-condensed">
    <thead>
        <th>Date</th>
        <th>Type</th>
        <th>Prestation</th>
        <th>Point de départ</th>
        <th>Point d'arrivée</th>
        <th>Kms</th>
        <th>Indemnités</th>
        {{#edit}}
        <th class="hidden-print">Actions</th>
        {{/edit}}
    </thead>
    <tbody class='lines'>
    </tbody>
    <tfoot>
        <tr>
            <td colspan='5'>Total</td>
            <td class='total_km'></td>
            <td class='total_ttc'></td>
            {{#edit}}
            <td class="hidden-print"></td>
            {{/edit}}
        </tr>
    </tfoot>
</table>

