<div class='row'>
    <div class='col-xs-12 col-md-9 col-print-12'>
        <div class='messages-container'></div>
        <div class='modalRegion'></div>
        <div class='totals'></div>
        <div class='form-section'>
            <div class='content'>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#internal-container"
                            aria-controls="internal-container"
                            role="tab"
                            data-toggle="tab">
                            Frais
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#activity-container"
                            aria-controls="activity-container"
                            role="tab"
                            data-toggle="tab">
                            Achats
                        </a>
                    </li>
                </ul>
                <div class='tab-content content'>
                    <div
                        role="tabpanel"
                        class="tab-pane fade in active"
                        id="internal-container">
                        <div class='internal-lines'>
                        </div>
                        <div class='internal-kmlines'>
                        <div class='alert alert-warning'>Il n'est pas encore possible de configurer des frais kilométriques sur cette année</div>
                        </div>
                        <div class='internal-total'>
                        </div>
                    </div>
                    <div
                        role="tabpanel"
                        class="tab-pane fade"
                        id="activity-container">
                        <div class='activity-lines'>
                        </div>
                        <div class='activity-kmlines'>
                        <div class='alert alert-warning'>Il n'est pas encore possible de configurer des frais kilométriques sur cette année</div>
                        </div>
                        <div class='activity-total'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class='expense-desktop-actions hidden-xs hidden-sm col-md-3 hidden-print'
        id="rightbar"
        >
    </div>
</div>
<footer class='footer-actions hidden-print'></footer>
