<div>
<div class='modalRegion'></div>
<div class='totals'></div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#internal-container"
            aria-controls="internal-container"
            role="tab"
            data-toggle="tab">
            Frais
        </a>
    </li>
    <li role="presentation">
        <a href="#activity-container"
            aria-controls="activity-container"
            role="tab"
            data-toggle="tab">
            Achats
        </a>
    </li>
</ul>
<div class='tab-content'>
    <div
        role="tabpanel"
        class="tab-pane fade in active"
        id="internal-container">
        <div class='internal-lines'>
        </div>
        <div class='internal-kmlines'>
        </div>
    </div>
    <div
        role="tabpanel"
        class="tab-pane fade"
        id="activity-container">
        <div class='activity-lines'>
        </div>
        <div class='activity-kmlines'>
        </div>
    </div>
</div>
