<div class='totals form-section'>
    <div class="text-center">Total HT : {{{ ht }}}</div>
    <div class="text-center">Total TVA : {{{ tva }}}</div>
    <div class="text-center">Total TTC : {{{ ttc }}}</div>
</div>
