.form-section {
  padding-top: 15px;
  padding-left: 10px; }
  .form-section button.add {
    margin-bottom: 1em; }

.bookmark-line {
  padding: 10px 5px;
  border-bottom: 1px solid #cdcdcd; }

.expense-desktop-actions {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px; }
  .expense-desktop-actions button, .expense-desktop-actions a {
    margin-bottom: 0.7em; }
  .expense-desktop-actions .totals {
    margin-top: 10px; }
    .expense-desktop-actions .totals hr {
      margin: 8px 0px; }

.totals {
  font-size: 1em; }

@media print {
  @page {
    size: landscape; }
  .page-content {
    padding-bottom: 0px !important;
    min-height: 0px !important; }
  .well {
    margin: 0px !important;
    padding: 0px !important; }
  table.opa.table-bordered.table-condensed thead tr th, table.opa.table-bordered.table-condensed tfoot tr td {
    background-color: #ddd !important;
    -webkit-print-color-adjust: exact;
    padding: 1px !important; }
  table.opa.table-bordered.table-condensed td, table.opa.table-bordered.table-condensed th {
    padding: 0px !important; }
  table.opa.table-bordered.table-condensed tbody td, table.opa.table-bordered.table-condensed tbody tr {
    border: 0px !important; }
  form, .hidden-print, a.btn, button, .nav, .help-block {
    display: none !important; }
  .tab-pane {
    display: block !important;
    visibility: visible !important;
    padding: 0px !important; }
  body, table caption, .lead {
    font-size: 1rem !important; }
  .container, .container-fluid {
    width: 100% !important; }
  body, html, td, div {
    font-size: 0.9rem !important;
    color: #000 !important; }
  table td {
    font-size: 0.85rem !important; }
  h1 {
    font-size: 1.2rem !important; }
  h2 {
    font-size: 1.15rem !important; }
  h3 {
    font-size: 1.1rem !important; }
  h4 {
    font-size: 1rem !important; }
  h5 {
    font-size: 1rem !important; }
  .col-print-12 {
    width: 100% !important; }
  .form-section {
    margin: 0px !important;
    padding: 0px !important; }
    .form-section .fade {
      opacity: 100 !important; }
    .form-section .content {
      margin: 0px !important;
      padding: 0px !important; }
  .totals {
    font-size: 1rem; }
    .totals div {
      font-size: 1rem !important;
      font-weight: bold; } }
