.beforeContent {
  background-color: #f0e9e0; }

.page-content {
  background-color: #f0e9e0;
  padding-bottom: 15vh;
  min-height: 100vh;
  margin: 0px; }
  .page-content hr {
    border-top: 1px solid #dedede; }

.form-section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  margin-bottom: 3em; }
  .form-section .content {
    margin: 10px 5px;
    padding: 10px 15px; }
