.form-section h2, .form-section h3, .form-section h4 {
  border-bottom: 1px solid #aaa;
  margin: 3px 0px;
  padding: 15px 0px 8px 10px;
  color: #666; }

.form-section .lines-header {
  background-color: #fbfbfb;
  margin: 0px 20px 0px 0px;
  font-weight: bold;
  border-bottom: 1px solid #000; }

.form-section .lines {
  background-color: #fbfbfb;
  margin: 0px 20px 0px 0px; }
  .form-section .lines .error {
    background-color: #f2dede; }

.form-section .actions {
  padding: 15px 0px; }

.taskline-group {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 20, 0.2), 0 6px 20px 0 rgba(0, 0, 20, 0.19);
  margin-bottom: 15px;
  padding: 10px 0px; }
  .taskline-group .subtotal {
    padding: 15px 0px;
    font-weight: bold; }
  .taskline-group .taskline {
    border-bottom: 1px solid #dddddd;
    padding: 5px 0px; }
    .taskline-group .taskline .description {
      font-size: 0.9em; }

.form-section.error {
  border-top: 3px solid #f82211; }

.taskline-group.error {
  border-top: 3px solid #f82211;
  background-color: #f2dede; }

.sticky-footer {
  background-color: #555;
  color: #f5f5f5;
  position: fixed;
  height: 15vh;
  min-height: 80px;
  width: 100vw;
  bottom: 0px;
  border-top: 1px solid #555;
  padding: 0px; }
  .sticky-footer .btn {
    height: 100%;
    border-radius: 0;
    margin: 0px; }
    .sticky-footer .btn.btn-primary, .sticky-footer .btn.btn-default, .sticky-footer .btn.btn-success {
      background-color: none !important; }
      .sticky-footer .btn.btn-primary:hover, .sticky-footer .btn.btn-default:hover, .sticky-footer .btn.btn-success:hover {
        background-color: none !important; }
  .sticky-footer:hover {
    color: #fff; }

.paymentamount {
  text-align: right; }

.panel-heading {
  font-weight: bold; }

/* Only checkboxes on leaf nodes */
.jstree-open > .jstree-anchor > .jstree-checkbox,
.jstree-closed > .jstree-anchor > .jstree-checkbox {
  display: none; }

.required .form-group label:after {
  content: ' *';
  color: #c9302c; }

a[data-toggle=collapse]:hover {
  cursor: pointer; }

.task-desktop-actions {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0px; }
  .task-desktop-actions button, .task-desktop-actions a {
    margin-bottom: 0.7em; }
  .task-desktop-actions .totals {
    margin-top: 10px; }
    .task-desktop-actions .totals hr {
      margin: 8px 0px; }

blockquote.status_history_item {
  border-left: 5px solid #aaa;
  font-size: 15px;
  margin: 5px 8px; }
  blockquote.status_history_item p {
    margin: 0, 0, 5px; }
