.page-content {
  background-color: #f8f8f8; }
  .page-content .form-section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    margin-bottom: 3em; }
    .page-content .form-section h2 {
      border-bottom: 1px solid #aaa;
      margin: 3px 0px;
      padding: 15px 0px 8px 10px;
      color: #666; }
    .page-content .form-section .content {
      margin: 10px 5px;
      padding: 10px 15px; }
    .page-content .form-section .lines-header {
      background-color: #fbfbfb;
      margin: 0px 20px 0px 0px;
      font-weight: bold;
      border-bottom: 1px solid #000; }
    .page-content .form-section .lines {
      background-color: #fbfbfb;
      margin: 0px 20px 0px 0px; }
    .page-content .form-section .actions {
      padding: 15px 0px; }
  .page-content .taskline-group {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 20, 0.2), 0 6px 20px 0 rgba(0, 0, 20, 0.19);
    margin-bottom: 15px;
    padding: 10px 0px; }
    .page-content .taskline-group .subtotal {
      padding: 15px 0px;
      font-weight: bold; }
    .page-content .taskline-group .taskline {
      border-bottom: 1px solid #dddddd;
      padding: 5px 0px; }
      .page-content .taskline-group .taskline .description {
        font-size: 0.9em; }

.paymentamount {
  text-align: right; }

.panel-heading {
  font-weight: bold; }

/* Only checkboxes on leaf nodes */
.jstree-open > .jstree-anchor > .jstree-checkbox,
.jstree-closed > .jstree-anchor > .jstree-checkbox {
  display: none; }

.task-edit {
  padding-bottom: 20vh;
  min-height: 100vh; }

.task-desktop-actions {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 50px; }
  .task-desktop-actions button {
    margin-bottom: 0.7em; }

.sticky-footer {
  background-color: #f5f5f5;
  position: fixed;
  height: 15vh;
  width: 100%;
  bottom: 0px; }

.required .form-group label:after {
  content: ' *';
  color: #c9302c; }

a[data-toggle=collapse]:hover {
  cursor: pointer; }
