.taskline{
  border-bottom:1px solid #dddddd;
}
.linesblockheader{
  background-color:#f2f2f2;
  margin-bottom:10px;
}
.paymentamount{
  text-align:right;
}
.panel-heading{
  font-weight: bold;
}
/* Only checkboxes on leaf nodes */
.jstree-open > .jstree-anchor > .jstree-checkbox,
.jstree-closed > .jstree-anchor > .jstree-checkbox { display:none; }
