{{#if has_message}}
{{#if error}}
<i class='glyphicon glyphicon-warning-sign'></i>&nbsp;
{{else}}
<i class='glyphicon glyphicon-ok'></i>&nbsp;
{{/if}}
{{{notifyText}}}
<span class='link'><i class='glyphicon glyphicon-remove'></i></span>
{{/if}}
