<div class='row'>
<div class='col-md-6'>
<h2>Import de données</h2>
<ul>
<li>Identifiant de la tâche : {{ jobid }} </li>
<li>Initialisée le : {{ created_at }} </li>
<li>Mise à jour le : {{ updated_at }} </li>
</ul>
</div>
<div class="col-md-3 col-md-offset-3">
{{#if running}}
<div class="text-center btn btn-warning">
<i class="fa fa-cog fa-spin fa-4x"></i>
<br />
<b>L'import est en cours</b>
</div>
{{else}}

{{#if failed}}
<div class="text-center btn btn-danger">
<i class="fa fa-warning fa-4x"></i>
<br />
<b>L'import a échoué</b>
</div>
{{else}}

<div class="text-center btn btn-success">
<i class="fa fa-check fa-4x"></i>
<br />
<b>L'import s'est déroulé avec succès</b>
</div>

{{/if}}
{{/if}}
</div>
</div>
<hr />
{{^running}}
<div class='row'>
<div class='col-md-6'>
<h4>Messages</h4>
{{ message }}
{{^has_message}}
Aucun message n'a été retourné
{{/has_message}}
<h4>Erreurs</h4>
{{ err_message }}
{{^has_err_message }}
Aucune erreur n'a été retournée
{{/has_err_message }}
</div>
<div class='col-md-6'>
<h4>Télécharger des données</h4>
{{#has_unhandled_datas}}
Télécharger les données du fichier qui n'ont pas été importées :
<a class='btn btn-warning' href="{{url}}?action=unhandled.csv">Télécharger</a>
{{/has_unhandled_datas}}
<hr>
{{#has_errors}}
Télécharger les lignes du fichier contenant des erreurs :
<a class='btn btn-danger' href="{{url}}?action=errors.csv">Télécharger</a>
{{/has_errors}}
</div>
</div>
{{/running}}
