<td colspan='3'>{{ typelabel  }}</td>
{{#edit}}
<td><div class='control-group'><div class='controls'><input type='text' class='input-small' value='{{ ht }}' name='ht'/></div></div></td>
<td><div class='control-group'><div class='controls'><input type='text' class='input-small' value='{{ tva }}' name='tva'/></div></div></td>
<td>{{{ total }}}</td>
<td></td>
{{/edit}}
{{^edit}}
<td>{{ ht }}</td>
<td>{{ tva }}</td>
<td>{{{ total }}}</td>
{{/edit}}
