<form id='expenseKmForm' class='form' action='#' onsubmit='return false;'>

<div class="control-group">
<div class='controls'>
{{#type_options}}
<label class="radio">
<input type='radio' name='type' value='{{value}}' {{#selected}}checked{{/selected}}> {{label}}
</label>
{{/type_options}}
</div>
</div>

<div class="control-group">
<label class="control-label" for='altdate'>Date</label>
<div class='controls'>
<input name="altdate" class="input-small" type="text">
<input name="date" class="input-small" type="hidden">
</div>
</div>


<div class="control-group">
<label class="control-label" for='start'>Point de départ</label>
<div class='controls'>
<input type='text' class='input-medium' name='start' value='{{start}}'/>
</div>
</div>

<div class="control-group">
<label class="control-label" for='end'>Point d'arrivée</label>
<div class='controls'>
<input type='text' class='input-medium' name='end' value='{{end}}'/>
</div>
</div>

<div class="control-group">
<label class="control-label" for='ht'>Nombre de Kilomètres</label>
<div class='controls'>
<div class="input-append">
    <input type='text' class='input-small' name='km' value='{{ km }}' /><span class="add-on">km</span>
</div>
</div>
</div>

<div class='control-group'>
<label class="control-label" for='description'>Prestation</label>
<div class='controls'>
<input type='text' class='input-xlarge' name='description' value='{{description}}' />
</div>
</div>

<div class="form-actions">
<button type="submit" class="btn btn-primary" name='submit'>Valider</button>
<button type="reset" class="btn" name="cancel">Annuler</button>
</div>
</form>
