<div>
<table class="table table-bordered table-condensed table-disable-hover">
    <caption>Frais liés au fonctionnement de l'entreprise</caption>
    <thead>
        <th class='span3'>Type de frais</th>
        <th>Date</th>
        <th class='span3'>Description</th>
        <th>Montant HT</th>
        <th>Tva</th>
        <th>Total</th>
        {{#edit}}
        <th>Actions</th>
            {{/edit}}
    </thead>
    <tbody class='internal'>
    </tbody>
    <tfoot>
        <tr>
            <td colspan='5'>Total</td>
            <td id='internal_total'></td>
        {{#edit}}
            <td></td>
            {{/edit}}
        </tr>
    </tfoot>
</table>
<br />
<table class="table table-bordered table-condensed table-disable-hover">
    <caption>Frais liés à l'activité</caption>
    <thead>
        <th class='span3'>Type de frais</th>
        <th>Date</th>
        <th class='span3'>Description</th>
        <th>Montant HT</th>
        <th>Tva</th>
        <th>Total</th>
        {{#edit}}
        <th>Actions</th>
        {{/edit}}
    </thead>
    <tbody class='activity'>
    </tbody>
    <tfoot>
        <tr>
            <td colspan='5'>Total</td>
            <td id='activity_total'></td>
        {{#edit}}
            <td></td>
            {{/edit}}
        </tr>
    </tfoot>
</table>
</div>
