<td>{{ altdate }}</td>
<td>{{ typelabel }}</td>
<td>{{ description  }}</td>
<td>{{ ht  }}</td>
<td>{{ tva }}</td>
<td>{{{ total }}}</td>
{{#edit}}
<td class='hidden-print'><a class='btn' href='{{edit_url}}' ><i class='icon icon-pencil'></i>&nbsp;Éditer</a>
<a class='btn remove'><i class='icon icon-remove-sign'></i>&nbsp;Supprimer</a></td>
{{/edit}}
