<td>{{ alt_start_date }}</td>
<td>{{ alt_end_date }}</td>
<td><a class='btn edit'><i class='icon icon-pencil'></i>&nbsp;Éditer</a><a class='btn remove'><i class='icon icon-remove-sign'></i>&nbsp;Supprimer</a></td>
