<div>
    <table class="table table-bordered table-condensed">
        <caption>
        Vos congés
            <div style="display:inline-block">
                <a class='btn add' title="Déclarer un congés"><i class='icon icon-plus-sign'></i>&nbsp;Ajouter</a>
            </div>
        </caption>
        <thead>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Actions</th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
