<td colspan='3'>{{ typelabel  }}</td>
{{#edit}}
<td><div class='form-group'><div class='controls'><input type='text' class='input-small' value='{{ ht }}' name='ht'/></div></div></td>
<td><div class='form-group'><div class='controls'><input type='text' class='input-small' value='{{ tva }}' name='tva'/></div></div></td>
<td><span class='total'>{{{ total }}}</span></td>
<td class="hidden-print">
<a class='btn btn-default remove'><i class='icon icon-remove-sign'></i>&nbsp;Supprimer</a>
</td>
{{/edit}}
{{^edit}}
<td>{{ ht }}</td>
<td>{{ tva }}</td>
<td>{{{ total }}}</td>
{{/edit}}
